{% extends "base.html" %}

{% block title %}{{pageTitle}}{% endblock %}

{% block main-menu %}
<div class="main-menu">
	<ul class = "nav">
	<li><a href="/">Home</a></li>

	</ul>
 </div>
{% endblock %}

{% block page_heading %}<h1>Account Not Enabled</h1>{% endblock %}

{% block content %}


<p>Sorry. Your account is not yet enabled. During the alpha testing phase this will be due to a limit on the number of test accounts. </p>
<p>We appreciate your interest and will enable your account in the next quota.</p>

{% endblock %}
