{% extends "base.html" %}
{% block head_tags_extra %}
<meta name="description" content="Create and update guided tours using QR Codes." />
<meta name="keywords" content="QR code, smart-phone, mobile phone, tourist information" />
{% endblock %}


{% block title %}Guided Tour{% endblock %}

{% block logon %}{% endblock %}
{% block banner_tag %}  {% endblock %}


{% block main-menu %}

{% endblock %}

{% block page_heading %}<h2>Guided Tour</h2>{% endblock %}
{% block content %}

<h4>Bringing places alive with knowledge and information</h4>

<p>Guided tour pages enable you to provide basic visitor information which the tourist accesses using their mobile phone. Each page can relate to a specific location and is easily updated as visitor information changes, including features and locations that are temporarily closed. </p>
<p>As well as simple tour pages there are a other page types that can be used as part of a guided tour and you can even link to on-line resources for photographs, audio and video. We have a free subscription so you can create a couple of pages at no cost.</p>




<div class="black-menu">
	<ul class = "nav"> 
	<li><a href="/info/subscribe.html">Let’s go</a></li>
	<li><a href="/">Other stuff</a></li>
	</ul>
 </div>

<a href="/"><img src="/images/q-action.png" alt="A QR Code to take you to the q-action home page." /></a>
<p>This is a QR Code! When this one is scanned with a suitable reader it will take you to our home page. Yours will take you to where ever you tell it to go!</p>




{% endblock %}
