{% extends "base.html" %}
{% block head_tags_extra %}
<meta name="description" content="Create mobile web offers for shop windows, display cabinets and showcases." />
<meta name="keywords" content="QR code, smart-phone, mobile phone, web page, shop window, display, showcase" />
{% endblock %}


{% block title %}Window Display Offers{% endblock %}

{% block logon %}{% endblock %}
{% block banner_tag %}  {% endblock %}


{% block main-menu %}

{% endblock %}

{% block page_heading %}<h2>Window Display Offers</h2>{% endblock %}
{% block content %}

<h4>A ‘buy now’ facility for shop windows and showcases</h4>

<p>Shop windows, posters, and displays in busy locations can use QR codes so that passers-by can make purchases through their mobile phones. Q-Action ‘Offer’ pages are easy to set up and manage from your mobile phone. </p>
<p>Details of the offer can be given, plus a ‘buy now’ button to take the user to your e-commerce facility or make a phone call. QR codes work through glass so you can be selling when you are closed, or generating business from remote display locations. We even have a free subscription to get you going.</p>



<div class="black-menu">
	<ul class = "nav"> 
	<li><a href="/info/subscribe.html">Let’s go</a></li>
	<li><a href="/">Other stuff</a></li>
	</ul>
 </div>

<a href="/"><img src="/images/q-action.png" alt="A QR Code to take you to the q-action home page." /></a>
<p>This is a QR Code! When this one is scanned with a suitable reader it will take you to our home page. Yours will take you to where ever you tell it to go!</p>




{% endblock %}
