{% extends "base.html" %}
{% block head_tags_extra %}
<meta name="description" content="Set up and manage a mobile web site from your smart-phone and link to it using QR codes" />
<meta name="keywords" content="QR code, smart-phone, mobile phone, web page" />
{% endblock %}


{% block title %}Mobile web site{% endblock %}

{% block logon %}{% endblock %}
{% block banner_tag %}  {% endblock %}

{% block main-menu %}

{% endblock %}

{% block page_heading %}<h2>Mobile web site</h2>{% endblock %}
{% block content %}


<p>The Q-Action Mini-Web site enables you to create a simple mobile-friendly web site of a home page and up to 10 sub-pages accessed through navigation buttons. No programming necessary, and you can set the whole thing up from your mobile phone. </p>
<p>The home page contains your welcome and introduction message, while the other pages can be built from any of your other Q-Action pages. You can even set your buttons up to point to your photo and video galleries hosted on sites like Flickr, Vimeo, and YouTube to create a rich multi-media site on a shoe-string budget.</p>
<p> Open up your imagination and build your web presence from your smart phone! We even have a free subscription to get you going.</p>


<div class="black-menu">
	<ul class = "nav"> 
	<li><a href="/info/subscribe.html">Let’s go</a></li>
	<li><a href="/">Other stuff</a></li>
	</ul>
 </div>

<a href="/"><img src="/images/q-action.png" alt="A QR Code to take you to the q-action home page." /></a>
<p>This is a QR Code! When this one is scanned with a suitable reader it will take you to our home page. Yours will take you to where ever you tell it to go!</p>




{% endblock %}
