{% extends "base.html" %}
{% block head_tags_extra %}
<meta name="description" content="Create electronic stock control cards you can scan with a mobile phone." />
<meta name="keywords" content="QR code, smart-phone, mobile phone, stock control, product ID" />
{% endblock %}


{% block title %}Stock ID Cards{% endblock %}

{% block logon %}{% endblock %}
{% block banner_tag %}  {% endblock %}


{% block main-menu %}

{% endblock %}

{% block page_heading %}<h2>Stock ID Cards</h2>{% endblock %}
{% block content %}

<h4>Stock control cards that you can update centrally or on site</h4>

<p>The system produces a QR code image that can then be printed on a label of physical stock card. The information is then readable using a mobile smart-phone. Create and update stock information either centrally or at the location of the stock. Because tags can be encapsulated and even read from behind glass or at a distance, they are suitable for environments where paper cards and hand writing would not be practical.  </p>
<p>We even have a two-card free subscription to get you going.</p>




<div class="black-menu">
	<ul class = "nav"> 
	<li><a href="/info/subscribe.html">Let’s go</a></li>
	<li><a href="/">Other stuff</a></li>
	</ul>
 </div>

<a href="/"><img src="/images/q-action.png" alt="A QR Code to take you to the q-action home page." /></a>
<p>This is a QR Code! When this one is scanned with a suitable reader it will take you to our home page. Yours will take you to where ever you tell it to go!</p>




{% endblock %}
