{% extends "base.html" %}
{% block head_tags_extra %}
<meta name="description" content="Dynamically up-datable mobile web link." />
<meta name="keywords" content="QR code, smart-phone, mobile phone, dynamic web page, link, landing page" />
{% endblock %}


{% block title %}Goto Redirect Link{% endblock %}

{% block logon %}{% endblock %}
{% block banner_tag %}  {% endblock %}


{% block main-menu %}

{% endblock %}

{% block page_heading %}<h2>Goto Redirect Link</h2>{% endblock %}
{% block content %}

<h4>Take your customer to a landing page you choose!</h4>

<p>Create a landing page that you control from your mobile phone. The unique feature of the Q-Action ‘Goto’ page is that you can easily change the landing page that the user is taken to, whether that is a Q-Action mobile page or an external web site.</p>
<p>This is a great way to have different landing pages at different times, or for rapidly changing conditions. Rather than changing the offering on a fixed page you can simply change the page the user sees. We even have a free subscription to get you going.</p>



<div class="black-menu">
	<ul class = "nav"> 
	<li><a href="/info/subscribe.html">Let’s go</a></li>
	<li><a href="/">Other stuff</a></li>
	</ul>
 </div>

<a href="/"><img src="/images/q-action.png" alt="A QR Code to take you to the q-action home page." /></a>
<p>This is a QR Code! When this one is scanned with a suitable reader it will take you to our home page. Yours will take you to where ever you tell it to go!</p>




{% endblock %}
