{% extends "base.html" %}
{% block head_tags_extra %}
<meta name="description" content="Location-specific information on an up-datable web page." />
<meta name="keywords" content="QR code, smart-phone, mobile phone, web page, LBS, Location-Based Services, site information, Geocaching" />
{% endblock %}


{% block title %}Location Information{% endblock %}

{% block logon %}{% endblock %}
{% block banner_tag %}  {% endblock %}


{% block main-menu %}

{% endblock %}

{% block page_heading %}<h2>Location Information</h2>{% endblock %}
{% block content %}

<h4>Information, directions, services, and what’s on</h4>

<p>Tell people about your location and give them up-to-date action information such as maps, directions, phone numbers, things to do, or warnings.</p>
<p>Q-Action Location pages can be used for any local information and services that needs to be up-datable, from a closed footpath to the cafe ‘specials’, with the added twist that you can change the information from your mobile phone. You can put the same QR code ‘tag’ at different locations, or you can have several at one location, each showing different information. We even have a free subscription to get you going.</p>



<div class="black-menu">
	<ul class = "nav"> 
	<li><a href="/info/subscribe.html">Let’s go</a></li>
	<li><a href="/">Other stuff</a></li>
	</ul>
 </div>

<a href="/"><img src="/images/q-action.png" alt="A QR Code to take you to the q-action home page." /></a>
<p>This is a QR Code! When this one is scanned with a suitable reader it will take you to our home page. Yours will take you to where ever you tell it to go!</p>




{% endblock %}
