{% extends "base.html" %}
{% block head_tags_extra %}
<meta name="description" content="Create on-line programmes, rotas, agendas and other up-datable documents." />
<meta name="keywords" content="QR code, smart-phone, mobile phone, web page, rota, agenda, programme, living document" />
{% endblock %}


{% block title %}Up-datable Living Documents{% endblock %}

{% block logon %}{% endblock %}
{% block banner_tag %}  {% endblock %}


{% block main-menu %}

{% endblock %}

{% block page_heading %}<h2>Up-datable Living Documents</h2>{% endblock %}
{% block content %}

<h4>Living documents that you and others can up-date on the move</h4>

<p>Want to be able to access a rota list, an event programme, or a meeting agenda while on location? Want to update it too? Using QR codes from Q-Action you can create this in two steps. </p>
<p>First create the document in a shared workspace such as Google Docs and make it ‘public on the web’ so that anyone with the URL can see it. Editing rights can be shared with others so that specific people can update it.</p>
<p>Then use a Q-Action ‘Goto’ card and put the URL of the document as the re-direct address. As the document is updated your users will instantly see the latest version. If the document changes, for example the next meeting, rota, or event, then simply change the URL in the ‘Goto’ card.</p>
<p>The ‘Goto’ card can point to a photo gallery or a video, so you can produce any kind of on-line content from events and keep it current, even though the QR code is permanently printed on a poster or sign. </p>
<p>We even have a free subscription to get you going.</p>



<div class="black-menu">
	<ul class = "nav"> 
	<li><a href="/info/subscribe.html">Let’s go</a></li>
	<li><a href="/">Other stuff</a></li>
	</ul>
 </div>

<a href="/"><img src="/images/q-action.png" alt="A QR Code to take you to the q-action home page." /></a>
<p>This is a QR Code! When this one is scanned with a suitable reader it will take you to our home page. Yours will take you to where ever you tell it to go!</p>




{% endblock %}
