{% extends "base.html" %}
{% block head_tags_extra %}
<meta name="description" content="Create low-cost electronic warranty, service, and product information placards and labels." />
<meta name="keywords" content="QR code, smart-phone, mobile phone, placard, label, ID" />
{% endblock %}


{% block title %}Warranty, Service, and Product Cards{% endblock %}

{% block logon %}{% endblock %}
{% block banner_tag %}  {% endblock %}


{% block main-menu %}

{% endblock %}

{% block page_heading %}<h2>Warranty, Service, and Product Cards</h2>{% endblock %}
{% block content %}

<h4>Product and installation cards that can be remotely updated</h4>

<p>User instructions, service, warranty, technical and other information attached to a product or an installation has to be used over a long time, but physical labelling can easily become out of date. </p>
<p>Q-Action Service Cards can be updated either centrally or on location using a mobile smart-phone in order to keep on-line records of information that is accessible to anyone with a smart-phone by scanning a QR code label on the device. If the user scans the code due to a problem, it also can alert them to known issues or safety recall information.</p>
<p>We even have a free two-card subscription to get you going.</p>



<div class="black-menu">
	<ul class = "nav"> 
	<li><a href="/info/subscribe.html">Let’s go</a></li>
	<li><a href="/">Other stuff</a></li>
	</ul>
 </div>

<a href="/"><img src="/images/q-action.png" alt="A QR Code to take you to the q-action home page." /></a>
<p>This is a QR Code! When this one is scanned with a suitable reader it will take you to our home page. Yours will take you to where ever you tell it to go!</p>




{% endblock %}
