{% extends "base.html" %}
{% block head_tags_extra %}
<meta name="description" content="Create property window cards and boards with QR codes." />
<meta name="keywords" content="QR code, smart-phone, mobile phone, web page, property, estate agent, real estate, realtor" />
{% endblock %}


{% block title %}Estate Agent Window Cards and Boards{% endblock %}

{% block logon %}{% endblock %}
{% block banner_tag %}  {% endblock %}


{% block main-menu %}

{% endblock %}

{% block page_heading %}<h2>Estate Agent Window Cards and Boards</h2>{% endblock %}
{% block content %}

<h4>Low-cost QR window cards and for sale boards</h4>

<p>Are you a small or independent Estate Agent?  You can now generate your own QR codes for mobile-friendly window cards and for sale boards. Simple text option, or use your own document with photograph, or link to rich media, or create a micro site.  </p>
<p>We have several types of functional pages - see the help section to choose the one for you. All cards can be managed from your mobile phone. We even have a free two code subscription to get you going.</p>



<div class="black-menu">
	<ul class = "nav"> 
	<li><a href="/info/subscribe.html">Let’s go</a></li>
	<li><a href="/">Other stuff</a></li>
	</ul>
 </div>

<a href="/"><img src="/images/q-action.png" alt="A QR Code to take you to the q-action home page." /></a>
<p>This is a QR Code! When this one is scanned with a suitable reader it will take you to our home page. Yours will take you to where ever you tell it to go!</p>




{% endblock %}
