{% extends "base.html" %}
{% block head_tags_extra %}
<meta name="description" content="On-line electronic business card with QR code." />
<meta name="keywords" content="QR code, smart-phone, mobile phone, web page, business card, contact information" />
{% endblock %}


{% block title %}Business Card{% endblock %}

{% block logon %}{% endblock %}
{% block banner_tag %}  {% endblock %}


{% block main-menu %}

{% endblock %}

{% block page_heading %}<h2>Business Card</h2>{% endblock %}
{% block content %}


<p>Publish your contact details and marketing or information message in an easily viewable, and actionable QR code designed for mobile phones.</p>
<p>The unique benefit of Q-Action is that you can update the details at any time, change them temporarily while you are on holiday, or if your personnel change then you can change the card to show to a new contact for that role. You can put your QR code tag on the side of a van, on a poster, exhibition stand, label or leaflet. We even have a free subscription to get you going.</p>



<div class="black-menu">
	<ul class = "nav"> 
	<li><a href="/info/subscribe.html">Let’s go</a></li>
	<li><a href="/">Other stuff</a></li>
	</ul>
 </div>

<a href="/"><img src="/images/q-action.png" alt="A QR Code to take you to the q-action home page." /></a>
<p>This is a QR Code! When this one is scanned with a suitable reader it will take you to our home page. Yours will take you to where ever you tell it to go!</p>




{% endblock %}
