{% extends "base.html" %}
{% block head_tags_extra %}
<meta name="description" content="Create and manage permanent but up-datable electronic club membership cards." />
<meta name="keywords" content="QR code, smart-phone, mobile phone, web page, membership card, club" />
{% endblock %}


{% block title %}Everlasting Membership Cards{% endblock %}

{% block logon %}{% endblock %}
{% block banner_tag %}  {% endblock %}


{% block main-menu %}

{% endblock %}

{% block page_heading %}<h2>Everlasting Membership Cards</h2>{% endblock %}
{% block content %}

<h4>Everlasting membership cards that always show current status</h4>

<p>Clubs need not issue new membership cards each year. The Q-Action Membership Card links to an on-line ‘electronic card’ that can record the current membership status and other details. Officials can scan the member’s permanent physical card with any mobile smart-phone to check validity and ownership, plus members can scan their own card to check that their details are correct.</p>
<p>We even have a free two-card subscription to get you going.</p>



<div class="black-menu">
	<ul class = "nav"> 
	<li><a href="/info/subscribe.html">Let’s go</a></li>
	<li><a href="/">Other stuff</a></li>
	</ul>
 </div>

<a href="/"><img src="/images/q-action.png" alt="A QR Code to take you to the q-action home page." /></a>
<p>This is a QR Code! When this one is scanned with a suitable reader it will take you to our home page. Yours will take you to where ever you tell it to go!</p>




{% endblock %}
