{% extends "base.html" %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block logon %}{% endblock %}


{% block main-menu %}
<div class="main-menu">
	<ul class = "nav">
	<li><a href="/">Home</a></li>
	</ul>
 </div>
{% endblock %}

{% block page_heading %}<h1>Subscribe</h1>{% endblock %}

{% block content %}

<h2>Oops! This Q-Action account seems to have expired</h2>

<p>If you are the owner, you can login and renew.</p>

<p>If you are interested in Q-Action QR codes click on ‘Home’.</p>

{% endblock %}
