{% extends "base.html" %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block logon %}{% endblock %}


{% block main-menu %}
<div class="main-menu">
	<ul class = "nav">
	<li><a href="/">Home</a></li>
	</ul>
 </div>
{% endblock %}

{% block page_heading %}<a id='top'></a><h2>FAQs</h2>{% endblock %}
{% block content %}



<h3>Contents</h3>

<div class='anchor_menu'>
<ul class='nav_faq'>
<li><a href="#What">What is it?</a> </li>
<li><a href="#Money">What do I get?</a> </li>
<li><a href="#How">How do I start?</a> </li>
<li><a href="#Safe">Safety and privacy?</a> </li>
<li><a href="#Google">Google account?</a> </li>
<li><a href="#Warning">Google warning?</a> </li>
<li><a href="#Will">Advertising?</a> </li>
<li><a href="#Limit">Traffic capacity?</a> </li>
<li><a href="#Cost">End user charges?</a> </li>
<li><a href="#Private">Private pages?</a> </li>
<li><a href="#Counter">Monitoring traffic?</a> </li>
<li><a href="#Address">Contact cards?</a> </li>
<li><a href="#Own_QR">DIY QR codes?</a> </li>
<li><a href="#Catch">Where&#39;s the catch?</a> </li>
</ul>
</div>

<h3><a id='What'>What are Q-Action cards/pages?</a></h3>

<p>Web-based information pages for the smart-phone age. You put a QR code (a kind of square bar code) on unchanging physical media such as printed cards, leaflets, posters, exhibition displays, vans, buildings or signs. Users scan the code tag with their mobile phone or tablet PC, and are directed to an information page that you own. The idea is to help them to take an action - such as contact you, find you, see your web site, buy stuff, or just receive information from you.</p>

<div><a class="top" href="#top">Top</a></div>

<h3><a id='Money'>What do I get for my money?</a></h3>

<p>You pay a yearly subscription for the capacity of service that you want. There is no limit to the number of times you can change the information on your pages, nor on changing existing pages to a different type. There is a traffic limit based on hits per day per page. You need to ask yourself just how popular do you think you are? 

If you want to run a mass media advertising campaign you will probably need a Premium Account, which has no traffic limit. If you want your pages to carry out special functions you will need a Custom Account.</p>

<div><a class="top" href="#top">Top</a></div>

<h3><a id='How'>How do I get going?</a></h3>

<p>Three steps:</p>
<ol>
<li>Subscribe for a year (or take the Free Account)</li>
<li>Create your own Action Pages</li>
<li>Print out the QR tags for each page</li>
</ol>
<p>See the <a href="http://q-action.appspot.com/info/instructions.html">Help </a>page for step-by-step details. You will need to have or to get a Google account, which is free.</p>

<div><a class="top" href="#top">Top</a></div>

<h3><a id='Safe'>Is it safe and private?</a></h3>

<p>Q-Action is powered by Google apps so all your registration, payment, and log-in verification is handled by their system. We only know your Google ID and registered address, which we will never sell or share. Our use of your data is governed by our legal and ethical commitments and our privacy policy.</p>

<p>We will make every effort to protect users. We obviously can&#39;t predict what subscribers will use their pages for, but any user creating what is in our view offensive or malicious material will have their account terminated without refund. Illegal activity will be reported to the Police, and we may send around some men from Naples in sharp suits and Ray Bans...so don&#39;t even think about it.</p>

<div><a class="top" href="#top">Top</a></div>

<h3><a id='Google'>Why do I need a Google account?</a></h3>

<p>We are hosting this software though Google as it provides us with a secure, robust, and low-cost infrastructure that enables us to give you better value and peace of mind than if we ran our own servers. Signing up for a Google account is the pay-back for them on their road to world domination.</p>

<div><a class="top" href="#top">Top</a></div>

<h3><a id='Warning'>What is the warning I see from Google?</a></h3>

It&#39;s to tell you that your Google ID and registered address will be shared with us and to be sure that you don&#39;t think we are actually Google (we wish!). 

<div><a class="top" href="#top">Top</a></div>

<h3><a id='Will'>Will my pages contain third-party advertising?</a></h3>

<p>No. The pages only contain the details you put on them and our Q-Action system footer with links to our legal and ethical policies. We don&#39;t sell advertising.</p>

<div><a class="top" href="#top">Top</a></div>

<h3><a id='Limit'>Is there a limit on my traffic?</a></h3>

<p>Daily traffic is limited according to the account you choose. There is a safety margin and we will email you if you bump up against it, but ultimately users may get a message that the page is not available. High volume users will require a Premium Account to guarantee unlimited traffic. Exceptional peak traffic - for example that might result from a national media campaign - you need to negotiate with us, or we may just &quot;throttle&quot; you (technical term).</p>

<div><a class="top" href="#top">Top</a></div>

<h3><a id='Cost'>Does it cost the end user?</a></h3>

<p>Potentially yes. Some users may have their phones on Internet data plans that incur charges for use, or for use beyond their inclusive data allowance, or for use overseas. We recommend you advise them of this wherever you print your QR code. Being text-based, Q-Action pages are very efficient in terms of data consumption, so don&#39;t incur anything like the sort of charges that pictures, music, and videos do.</p>

<div><a class="top" href="#top">Top</a></div>

<h3><a id='Private'>Can I make my pages private?</a></h3>

<p>No. There is no facility for login by end users. The details you put on your pages will be publicly accessible on the web, so you should not put anything private. However, as each page has a randomly generated web address it is not discoverable by web crawling robots. The only practical way to reach the page is by scanning the physical QR code associated with the page. It is thus very unlikely that malicious users will be able to &quot;scrape&quot; mass details from our service. You can help this process by not creating any links from other web sites to your pages, as these may then be visible in search engines, which helps the bad guys to &quot;harvest&quot; the details.</p>

<div><a class="top" href="#top">Top</a></div>

<h3><a id='Counter'>Can I see how many people scan my Q-Action codes?</a></h3>

<p>Yes. Q-Action provides you with a scan counter. It will ignore your own tests (while you are logged onto the system). You can re-set the counter by editing the page and inserting a zero into the counter field.</p>

<p>Each page also has an analytics field where you can enter code for any tracking service you use (eg. Google Analytics or Stat Counter) so you can integrate your Q-Action pages with your existing analytics.</p>

<div><a class="top" href="#top">Top</a></div>

<h3><a id='Address'>Can users add my business card details to their address book?</a></h3>

<p>In principle, yes.The problem is that up to now there is no universal format that works with all types of smart phone, but we are trying.</p>

<div><a class="top" href="#top">Top</a></div>

<h3><a id='Own_QR'>Can&#39;t I make my own QR codes for my web site?</a></h3>

<p>Yes you can. There are lots of free tools for converting your web-site URL into a QR code. Q-Action pages are different in that the URL on the QR tag is fixed, and is a content neutral random code, but the information it takes you to and the actions available can be very easily changed. This means that if your web site URL should change (maybe you change ISP or domain name) you don&#39;t have to change your printed codes, just update the page.</p>

<p>Q-Action pages are also specially designed to work with smart phones and the mobile web. The user experience and actions tend to be different on the move than at their desk computer. They need pages that are fast, data efficient, readable on small screens, compatible with any device, and work well with touch screens.</p>

<div><a class="top" href="#top">Top</a></div>

<h3><a id='Catch'>Where&#39;s the catch?</a></h3>

<p>Don&#39;t be so cynical! We think Q-Action will prove a winner with people who need to give out straightforward information to those on location. We are offering an entry-level service free and hope that lots of happy paid subscribers will bring us lots of dosh (eventually).</p>

<div><a class="top" href="#top">Top</a></div>


{% endblock %}
