{% extends "base.html" %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block logon %}{% endblock %}


{% block main-menu %}
<div class="main-menu">
	<ul class = "nav">
	<li><a href="/">Home</a></li>
	</ul>
</div>
{% endblock %}


<h2><a id='background'>Image for Background</a></h2>
<p>Put the URL of an on-line image or graphic. For example one you have uploaded to Flickr, Picasa, Dropbox, or similar cloud-based photo or file storage. Minimising the image size for web will help speed up your page. Put the full URL including http://</p>


{% endblock %}
