{% extends "base.html" %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block logon %}{% endblock %}


{% block main-menu %}
<div class="main-menu">
	<ul class = "nav">
	<li><a href="/">Home</a></li>
	</ul>
</div>
{% endblock %}

{% block page_heading %}<h2>Help with editing cards </h2>
{% endblock %}

{% block content %}
<div class='anchor_menu'>
<ul class='nav_faq'>
<li><a href="#freetext">Free text field</a> </li>
</ul>
</div>
<h2><a id='freetext'> Free text field</a></h2>
<p>Unlike most Q-Action text, which is formatted for you, this field's text you are free to format yourself, using web formatting commands. They look scary but are quite easy: just take a deep breath and follow the guidelines below.</p>
<p>Each formatting command consists of some characters enclosed in angled brackets. You'll find these angled brackets hiding in your PC keyboard - probably bottom right, but phones don't usually have them at all so you may have to input them through a menu as special characters, or copy and paste them from this page.</p>
<p>A formatting command looks like this &lt;h1&gt;. These are known as tags. Each format command has two tags, one to show where it starts, and one with a slash added to show where it stops. For example, to display a price in bold you might put &lt;strong&gt; £9.99 &lt;/strong&gt; .</p>
<p>The line break tag &lt;br /&gt; is a singleton as it is not really an on or off switch - it just starts a new line. You need to use this tag instead of pressing enter in the text editor. Although the enter key may appear to put your edited text on a new line, this won't be recognised by the user's browser.</p>
<p>The commands you can use are: </p>
<p>&lt;h1&gt; = start heading style 1</p>
<p> &lt;/h1&gt; = end heading style 1</p>
<p> &lt;h2&gt;  = start heading style 2</p>
<p>&lt;/h2&gt; = end heading style 2</p>
<p>&lt;strong&gt;  = switch on bold type</p>
<p>&lt;/strong&gt; = switch off bold type</p>
<p>&lt;br /&gt; = Line break (carriage return)</p>
<p>If you are feeling adventurous you can create a bullet list. You have to start the list with the &lt;ul&gt; tag then start and end each line with the &lt;li&gt; and &lt;/li&gt; . Finally you end the list with &lt;/ul&gt;.</p>
<p>Here is an example:</p>
<h1>Code</h1>
<p> &lt;h1&gt;Corner Cafe&lt;/h1&gt; &lt;br /&gt; </p>
<p>&lt;h2&gt;Offer of the week&lt;/h2&gt; &lt;br /&gt;  </p>
<p>Buy one get &lt;strong&gt;two&lt;/strong&gt; free on the following: &lt;br /&gt;</p>
<p> &lt;ul&gt; </p>
<p>&lt;li&gt;Capuccino Grande&lt;/li&gt; </p>
<p>&lt;li&gt;Skinny Latte&lt;/li&gt; </p>
<p>&lt;li&gt;Americano&lt;/li&gt; </p>
<p>&lt;/ul&gt; &lt;br /&gt; </p>
<p>Offer ends Friday </p>
<h1>Result </h1>
<h1>Corner Cafe</h1> <br />
<h2>Offer of the week</h2> <br />
Buy one get <strong>two</strong> free on the following: <br />
<ul>
<li>Capuccino Grande</li> 
<li>Skinny Latte</li>
<li>Americano</li>
</ul>

<br />
Offer ends Friday


<div><a class="top" href="#top">Top</a></div>

{% endblock %}
