{% extends "base.html" %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block logon %}{% endblock %}


{% block main-menu %}
<div class="main-menu">
	<ul class = "nav">
	<li><a href="/">Home</a></li>
	</ul>
</div>
{% endblock %}

{% block page_heading %}<h2>Help for editing </h2>
{% endblock %}

{% block content %}
<div class='anchor_menu'>
<ul class='nav_faq'>

	<li><a href="#type">Select Card Type</a> </li>
	<li><a href="#title">Card Title</a> </li>
	<li><a href="#navbutton">Label for Navigation Button</a> </li>
	<li><a href="#analytics">Web Analytics Code</a> </li>
	<li><a href="#counter">Scan Counter</a> </li>
	<li><a href="#photo">Your Photo</a> </li>
	<li><a href="#background">Image for Background</a> </li>
	<li><a href="#freetext">Free Text Fields</a> </li>
	<li><a href="#target">Target Website</a> </li>
	<li><a href="#buynow">Buy Now Button</a> </li>
	<li><a href="#coordinates">Location Coordinates</a> </li>
	<li><a href="#webpage">Select Mini Web Page</a> </li>


</ul>
</div>


<h2><a id='type'>Select Card Type</a></h2>
<p>This pre-formats the card for a specific purpose. You can change type at any time. The Blank card gives you an unstructured page to lay out yourself.</p>

<div><a class="top" href="#top">Top</a></div>


<h2><a id='title'>Card Title</a></h2>
<p>A unique name you want to give this card for your own purposes. It will not appear to end users, but it will be used in the &lsquo;My Cards&rsquo; list which will be sorted alphabetically by this name.</span></b> </p>

<div><a class="top" href="#top">Top</a></div>


<h2><a id='navbutton'>Label for Navigation Button</a></h2>
<p>This text will appear in this page's navigation button if you include it in a Q-Action mini-web site.</p>

<div><a class="top" href="#top">Top</a></div>


<h2><a id='analytics'>Web Analytics Code</a></h2>
<p>The HTML code snippet for any web analytics service (eg. Google Analytics) that you use to track visitors. </p>

<div><a class="top" href="#top">Top</a></div>


<h2><a id='counter'>Scan Counter</a></h2>
<p>Leave blank. This will automatically count visits to your action card, excluding ones you make while logged on. Put zero at any time to reset.</p>

<div><a class="top" href="#top">Top</a></div>


<h2><a id='photo'>Your Photo</a></h2>
<p>Put the URL of an on-line photograph. For example one you have uploaded to Flickr, Picasa, Dropbox, or similar cloud-based photo or file storage. Minimising the photo size for web will help speed up your page. Put the full URL including http://</p>

<div><a class="top" href="#top">Top</a></div>


<h2><a id='background'>Image for Background</a></h2>
<p>Put the URL of an on-line image or graphic. For example one you have uploaded to Flickr, Picasa, Dropbox, or similar cloud-based photo or file storage. Minimising the image size for web will help speed up your page. Put the full URL including http://</p>

<div><a class="top" href="#top">Top</a></div>


<h2><a id='freetext'>Free Text Fields</a></h2>
<p>Write your text, then highlight portions that you want to format and click the formatting buttons.</p>

<div><a class="top" href="#top">Top</a></div>


<h2><a id='target'>Target Website</a></h2>
<p>Put the full URL (including http:// or similar) of the site you want the user to be sent to.</p>

<div><a class="top" href="#top">Top</a></div>

<h2><a id='buynow'>Buy Now Button</a></h2>
<p>Put the full URL of the item on your e-commerce site so that it takes the user directly to the specific product.</p>

<div><a class="top" href="#top">Top</a></div>


<h2><a id='coordinates'>Location Coordinates</a></h2>
<p>Put the latitude and longitude or grid ref. For compatibility with future functionality we suggest the following format: 00.00N 000.00E (Note: degrees and decimal degrees, not degrees and minutes). We recommend WGS84 as the datum.</p>

<div><a class="top" href="#top">Top</a></div>


<h2><a id='webpage'>Select Mini Web Page</a></h2>
<p>The drop down boxes list the other pages you have created, using your titles, or the card ID if no title was given. By selecting a  page you make it a sub-page of your Mini Web Site. Each action page has a field called 'Label for Navigation Button' so you can specify what text will appear inside its navigation button. If you leave it blank it will use the card title. If that is blank it will use the card's system ID. </p>

<div><a class="top" href="#top">Top</a></div>




{% endblock %}
