{% extends "base.html" %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block logon %}{% endblock %}


{% block main-menu %}
<script type="text/javascript">
jQuery(document).ready(function(){
 
	jQuery('.back').click(function(){
		parent.history.back();
		return false;
	});
});
</script>
<div class="main-menu">
	<ul class = "nav">
	<li><a href="/">Home</a></li>
	</ul>
</div>
<div class="black-menu">
	<ul class = "nav">
	<li><a class="back" href="#">Back</a></li>
	</ul>
</div>

{% endblock %}

{% block page_heading %}<h2><a id='counter'>Scan Counter</a></h2>{% endblock %}

{% block content %}


<p>Leave blank. This will automatically count visits to your action card, excluding ones you make while logged on. Put zero at any time to reset.</p>


{% endblock %}
