{% extends "base.html" %}

{% block title %}{{ pageTitle }}{% endblock %}



{% block page_heading %}<h1>Home</h1>{% endblock %}
{% block content %}
<h2>Web pages for people on the move</h2>


<p>QR codes are a  way to connect the physical world to your mobile phone. They are a kind of ‘square bar code’ that is readable by the camera in most smart phones and tablet PCs. Q-Action pages are designed to bring web-based information to people on location. The code is fixed but the information it shows is up-datable. Q-Action pages can give you: </p>

<ul>
<li>Electronic business cards and leaflets that never go out of date</li>
<li>Mini web sites that you mange from your mobile</li>
<li>Electronic posters for nearby services, showing current offers</li>
<li>Shop window offers with a ‘buy now’ facility for ‘window shoppers’ and out of hours sales</li>
<li>Everlasting membership cards that always show the member’s current status</li>
<li>Warranty and service cards with up-datable product and installation info</li>
<li>Stock control cards that you can update centrally or on location</li>
<li>Emergency advice notices, contact information, and nearest help</li>
<li>Rota lists that show who or what is available today</li>
<li>Up-to-the-minute live programme guides for events and shows</li>
<li>Location pages that show what’s currently open and what’s closed</li>
<li>Dynamic links that can point to different web sites at different times</li>
<li>All the other ideas we haven’t thought of but you will</li>
</ul>

<p>You control your Q-Action pages from any browser. Users scan your printed tag using any standard ‘QR code’ reader app. They can then take immediate action - browse, buy, visit, call, or just read and learn. Q-Action pages join the physical world to mobile media.</p>

<h3>Low cost</h3>

<p>Q-Action is designed around an ultra-low annual subscription that includes your first 10 pages. The pages are re-usable and even changeable between types. If you need more you can add them to your subscription.</p>

<h3>Give it a go free!</h3>

<p>No obligations, no credit card details, no spam. Just try it out for a month for free, and please give us feedback.</p>

<h3>What am I waiting for?</h3>

<p>We don’t know. Click the ‘login or register’ button at the top of this page and get going!</p>



{% endblock %}
