{% extends "base.html" %}

{% block title %}{{ pageTitle }}{% endblock %}



{% block page_heading %}<h1>Home</h1>{% endblock %}
{% block content %}

<h2>Bringing mobile web users to you</h2>


<p>QR codes connect the physical world to mobile phones. They are a kind of pixel-based &quot;square bar code&quot; that is readable by the camera in most smart phones and tablet PCs and take you to a web page. What&#39;s special about Q-Action is that while the printed code is fixed, the page it shows is up-datable and re-configurable. Q-Action pages can give you: </p>
<ul>
<li>Electronic <a class="link_text" href = "http://q-action.appspot.com/40e79ab1b9" > business cards</a> and leaflets that never go out of date</li>
<li><a class="link_text" href = "https://q-action.appspot.com/mWdg3QaCJt" > Mini web sites</a> that you manage from your mobile</li>
<li><a class="link_text" href = "https://q-action.appspot.com/JuwC3beK9h" > Electronic posters</a> for nearby services, showing current offers</li>
<li>Dynamic codes that can point to different web sites at different times</li>
<li>Window offers with a &quot;buy now&quot; facility for <a class="link_text" href = "http://q-action.appspot.com/3aARkr3SST" > shops</a>, <a class="link_text" href = "http://q-action.appspot.com/FhRsjUL2HU" > estate agents</a>, notice boards</li>
<li>Everlasting <a class="link_text" href = "http://q-action.appspot.com/7llroeLRyf" > membership cards</a> that always show the member&#39;s current status</li>
<li><a class="link_text" href = "http://q-action.appspot.com/TbMlZosAEt" > Warranty and service</a> cards with up-datable product and installation info</li>
<li><a class="link_text" href = "http://q-action.appspot.com/TkxURqkpAM" > Stock control</a> cards that you can update centrally or on location</li>
<li><a class="link_text" href = "http://q-action.appspot.com/392590ce07" > Emergency advice</a> notices, contact information, and nearest help</li>
<li><a class="link_text" href = "https://q-action.appspot.com/WjmlaHzZth" > Rota lists</a> that show who or what is available today</li>
<li>Up-to-the-minute live <a class="link_text" href = "http://q-action.appspot.com/c8a29f48eb" > programme guides</a> for events and shows</li>
<li>Location pages that show <a class="link_text" href = "http://q-action.appspot.com/ahaeV3PlKr" > location</a> and facility status or visitor <a class="link_text" href = "http://q-action.appspot.com/66ef643a88" > guides</a></li>
<li>All the other ideas we haven&#39;t thought of but you will</li>
</ul>

<p>You control your Q-Action pages from any browser. Users scan your printed tag using any standard QR code reader app. They can then take immediate action - browse, buy, visit, call, or just read and learn.</p>

<h3>Give it a go free!</h3>

<p>Create your own pages and QR codes. No obligations, no credit card details, no advertising. The entry-level service is free. If you don&#39;t like it, please give us feedback. If you think it&#39;s cool, please tell your friends.</p>

<h3>What am I waiting for?</h3>

<p>We don&#39;t know. Click the &quot;login or register&quot; button at the top of this page and get going!</p>

<!-- Place this tag where you want the +1 button to render -->
<g:plusone annotation="inline"></g:plusone>

<!-- Place this render call where appropriate -->
<script type="text/javascript">
  window.___gcfg = {lang: 'en-GB'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>


{% endblock %}
