{% extends "base.html" %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block logon %}{% endblock %}


{% block main-menu %}
<div class="main-menu">
	<ul class = "nav">
	<li><a href="/">Home</a></li>
	</ul>
 </div>
{% endblock %}

{% block page_heading %}<h2>Help</h2>{% endblock %}

{% block content %}
<div class='anchor_menu'>
<ul class='nav'>
<li><a href="#three_steps">3 Easy Steps</a> </li>
<li><a href="#Miniweb_card">Miniweb Card</a> </li>
<li><a href="#business_card">Business Card</a> </li>
<li><a href="#Goto_card">Goto Card</a> </li>
<li><a href="#Location_card">Location Card</a> </li>
<li><a href="#Offer_card">Offer Card</a> </li>
<li><a href="#Service_card">Service Card</a> </li>
<li><a href="#Guided_tour_card">Guided Tour Card</a> </li>
<li><a href="#ICE_card">ICE Card</a> </li>
<!-- <li><a href="#Rota_card">Rota Card</a> </li> -->
<li><a href="#Stock_card">Stock Card</a> </li>
<!-- <li><a href="#Event_card">Event Card</a> </li> -->
<li><a href="#Blank_card">Blank Card</a> </li>
<li><a href="#Notinuse_card">Blank Card</a> </li>
<li><a href="#Abuse">Report Abuse</a> </li>
</ul>
</div>
<h2><a id='three_steps'> Just 3 steps to get you going</a></h2>

<h3>Step 1. Subscribe</h3>

<p>Our system is powered by Google, so you will need to log in using your Google details, or you will need to set up a Google account. This is free and relatively painless to do. You get the benefits of security, payment via Google, and potentially lots of other free facilities. We will use your registered Google address for account correspondence. We promise to respect your privacy - see our privacy policy for details - and never sell or share your details.</p> 

<p>All subscriptions are for one year and we guarantee service for that year. The <a href="http://q-action.appspot.com/info/subscribe.html">account types </a>vary in the number of pages you can set up and the daily traffic ‘hits’ on each page.</p>


<h3>Step 2. Create</h3>

<p>For each of your Action Cards you choose the appropriate <a href="#card_types">card type</a> and enter the appropriate information. For most cards you don’t worry about layout as this is done for you. Any fields you leave blank are not shown when the user accesses your card. </p>

<p>For flexibility some card types have free text blocks and we even have ‘blank’ cards that are completely free text. In this case you will need to format it yourself. These fields have some basic formatting tools.</p>


<h3>Step 3. Print</h3>

<p>Having created and saved a card you can view it with its unique QR code. You can print out, copy and paste, or download the image for printing. See our <a href="http://q-action.blogspot.com/">blog </a> for ideas on this.</p>

<p>Please note that there is a minimum size of code tag that will work and that this depends on the quality of the user’s camera, the lighting conditions, and the distance of the tag from the user. If the user can get up close, such as with a business card or leaflet, then 32mm across (one and a quarter inches in old money) is recommended. On an advertising board above street level it may have to be several metres across. A rule of thumb is:</p>
<ul>
<li>Width = Distance/10   (or 8 if conditions are poor, 6 if very poor)</li>
</ul>
<p>The code should be black and white and there should always be a small white border around the edge. If you change or distort the image it may not work reliably. The QR codes should work through glass and you can encapsulate them and make other treatments to protect them for outdoor use. Please test your process to see that it does not prevent the camera reading the code.</p>


<h2>You can also...</h2>

<h3>Update, Edit, Change</h3>

<p>You can later edit your cards on-line, via any browser. Each Action Card has a unique and permanent URL, so you don’t need to reprint the QR code. You can even change the type of the card to make it do something different and the QR code remains the same.</p>

<h3>Analyse</h3>

<p>Each card has a counter that counts user hits (excluding the owner when logged in). To reset, just edit the card and put zero in the counter. It also has a field to insert analytics code (eg. Google analytics) to analyse the traffic in detail. </p>

<div><a class="top" href="#top">Top</a></div>

<h2><a id='card_types'>
Card Types
</a></h2>

<h3><a id='Miniweb_card'>
Q-Action Mini-Web Site
</a></h3>

<h4>A simple web site built using your mobile</h4>

<p>The Q-Action Mini-Web site enables you to create a simple web site of a home page and up to 10 sub-pages accesses through navigation buttons. No programming necessary, and you can set the whole thing up from your mobile phone. The home page contains your welcome and introduction message, while the other pages can be built from any of your other Q-Action pages. You can even set your buttons up to point to your photo and video galleries hosted on sites like Flickr, Vimeo, and YouTube to create a rich multi-media site on a shoe-string budget. Open up your imagination and build your web presence from your smart phone! Look in our <a href="http://q-action.blogspot.com/">blog </a>for the latest ideas on this, including how to have your own domain name for your Q-Action Mini-Web.</p>

<div><a class="top" href="#top">Top</a></div>


<h3><a id='business_card'>
Q-Action Business Card
</a></h3>

<h4>A business card that goes anywhere except out-of-date</h4>


<p>The Q-Action Business Card is your company or personal contact details in an easily viewable, down-loadable, and more importantly, actionable form. Remember you can also put your Q-Action QR tag on the side of a van, on a poster, exhibition stand, label or leaflet.  You can add a marketing message to the card.</p>

<p>Not only can you be contacted quickly and easily, but you can update the details if you move. You can even change the details temporarily while you are on holiday, or if you are a company and your personnel change, then you can change the card to show to a new contact.</p>

<div><a class="top" href="#top">Top</a></div>

<h3><a id='Goto_card'>
Q-Action Goto Card
</a></h3>

<h4>Takes the user to the page you choose, when you choose</h4>


<p>A Goto Card provides a jumping off point. The user never sees a ‘card’ as such. Instead, their browser is immediately redirected to the web page you specify in the card. The unique feature is that you can easily change the landing page that the user is taken to.</p>

<p>This is a great way to have different landing pages for different seasons, or for rapidly changing conditions. If you have a complex web site then rather than changing the offering on a fixed page you can simply change the page the user sees. Simple!</p>

<div><a class="top" href="#top">Top</a></div>

<h3><a id='Location_card'>
Q-Action Location Card
</a></h3>

<h4>Information, directions, publicity, and up-to-the minute offers</h4>


<p>A Location Card tells the user about nearby attractions and gives them action information such as maps, directions, phone numbers, and points of interest, things to do, or warnings.</p>

<p>They can be used for promoting local services, such as the cafe just round the corner, with the added twist that you can promote specific offers that you can change as often as you want. They can be used to give site information and maps. Remember, you can put multiple copies of the same tag at different locations, or you can have several tags at one location, each showing different information.</p>

<div><a class="top" href="#top">Top</a></div>

<h3><a id='Offer_card'>
Q-Action Offer Card
</a></h3>

<h4>A ‘buy now’ facility for window shoppers and out of hours sales</h4>


<p>Great for shop windows, posters, and display cabinets in busy locations like railway stations. The card contains details of the specific product and offer, plus a ‘buy now’ button to take the user to your web site or e-commerce facility or a phone number. As Q-Action codes work through glass you can be selling when you are closed, or generating business from remote display locations. If the offer changes, there is no need to update the displays - you simply update your offer card on-line. They can also be put in car windows as a ‘for sale’ notice. Travel agents and estate agents can include the QR tag on window cards to allow window shoppers to take away offer details at any time.</p>

<div><a class="top" href="#top">Top</a></div>

<h3><a id='Membership_card'>
Q-Action Membership Card
</a></h3>

<h4>Everlasting membership cards that show the current status</h4>


<p>Organisations need not issue new membership cards each year. The Action Membership Card is for ever and records on-line the key details such as the current membership status associated with each card.</p>

<p>By having an individual Q-Action Membership Card for each member, not only can officials scan the cards to check validity and ownership, but members can scan their own card to check that their details are correct.</p>

<div><a class="top" href="#top">Top</a></div>

<h3><a id='Service_card'>
Q-Action Service Card
</a></h3>

<h4>Product and installation cards that record and update information</h4>


<p>Service, warranty, user instructions and other information attached to a product or an installation can be used over a long time, but can easily become out of date. Q-Action Service Cards can be updated either centrally or on location in order to keep on-line records of visits and due dates that are accessible by scanning a label on the device. As well as informing owners of operating instructions, warranty periods etc., if the user scans the code due to a problem it can alert them to product safety recall information, or to known issues.</p>

<div><a class="top" href="#top">Top</a></div>

<h3><a id='Guided_tour_card'>
Q-Action Guided tour Card
</a></h3>

<h4>Bringing places alive with knowledge and information</h4>



<p>Guided tour cards enable you to provide comprehensive visitor information at a set of locations. Each card can relate to a specific location and is easily updated as visitor information changes, including features and locations that are temporarily closed.</p>

<p><strong>Note: Q-Action Guided Tour Cards are text only.</strong> For sophisticated rich-media audio-visual guides Webnebulus offers another service, <a href="http://www.webnebulus.co.uk/content/q-point.html">Q-Point</a>, which also works from QR code tags.</p>

<div><a class="top" href="#top">Top</a></div>

<h3><a id='ICE_card'>
Q-Action ICE (In Case of Emergency) Card
</a></h3>

<h4>Emergency advice, contact information, and nearest help</h4>


<p>ICE Cards can be used on vehicles, buildings, or at remote locations. They contain up-to-date information on what to do in an emergency. This can include ‘one click’ emergency phone numbers, nearby help points, location information to direct helpers, or location-specific advice to people who are lost or stuck.</p>

<p>Note: Mobile reception or wi-fi is needed to access Q-Action cards. It is possible to produce a QR code tag that is self-contained and so will read the details directly into the users’ phone. A self-contained tag will need to be re-printed if you want to change the details.</p>

<div><a class="top" href="#top">Top</a></div>

<!--
<h3><a id='Rota_card'>
Q-Action Rota Card
</a></h3>

<h4>Rota lists that always show who is on duty today</h4>


<p>This clever card is created by uploading your duty rotas, comprising people, roles, or just things, in a structured format with date information. Any user scanning the tag sees who is on duty, or what is happening today, along with any other information you specify, such as contact details, or current notices.</p>

<p>This is a great way to put regularly changing information at outdoor locations where updating notice boards is time-consuming or impractical. You upload the advance rota from anywhere with an Internet connection, including your phone, and it then runs for months on its own. Users always scan the same tag, which can be on a notice-board, a gateway, a building, but each time they see, and can take with them, today’s rota. Neat uh?</p>

<div><a class="top" href="#top">Top</a></div>
-->

<h3><a id='Stock_card'>
Q-Action Stock Card
</a></h3>

<h4>Stock control cards that you can update centrally or on site</h4>


<p>Stock cards provide an electronic way to update stock information either centrally from a head office or on the ground at the location of the stock. They provide the basis of a simple stock control and information system where any user with access to the tag can read the stock card details.</p>

<p>Because tags can be encapsulated and even read from behind glass or at a distance, they are suitable for environments where paper cards and hand writing would not be practical.</p>

<div><a class="top" href="#top">Top</a></div>

<!--
<h3><a id='Event_card'>
Q-Action Event Card
</a></h3>

<h4>Up to the minute programmes for events and shows</h4>


<p>How many show programmes can be updated during the day of the show? This one can. Event cards list the time, location, and brief details of events on a programme. They are accessed via a fixed tag that is printed on show literature or distributed on site posters.</p>

<p>The programme can be updated minute-by-minute as factors like weather and availability cause adjustments. If a demonstration is now full, or the Red Arrows have been delayed, then you can let thousands of spectators have that information in an instant.</p>

<p>Even after the event the Q-Action code can be re-used and point to a suitable page on your website, perhaps advertising the next event.</p>

<div><a href="#top">Top"</a></div>
-->


<h3><a id='Blank_card'>
Q-Action Blank Card
</a></h3>

<h4>Make up your own card!</h4>


<p>Blank cards are completely free space for you to write whatever you want. Within limits, you can format the text as you wish. Modern phones will normally interpret phone numbers, email addresses, and URLs and give your users one-click action from your card.</p>

<p>Note: If you are using blank cards because we don’t have the type of card you want, then tell us and maybe we’ll build one for everyone.</p>

<div><a class="top" href="#top">Top</a></div>

<h3><a id='Notinuse_card'>
‘Not in use’ Page
</a></h3>

<h4>For when you want to put users on hold</h4>


<p>Occasionally you may have created a page that you want to permanently or temporarily suspend, but you have QR codes out in the field. You can opt to change it to a ‘Not in use’ page so that users get a sensible alternative message from you, while preserving any data you have entered on the real page.</p>

<div><a class="top" href="#top">Top</a></div>

<h3><a id='Abuse'>
Report Abuse
</a></h3>

<h4>Report abusive content</h4>

<p>Please report any abusive content or links to such content to us and we will immediately investigate the problem and take whatever action is necessary to resolve the situation. If we regard the problem as severe we will disable the link and suspend the user account.</p>
<p>Our postal address and contact details are published in full at <a href = "http://www.webnenbulus.co.uk"> http://www.webnenbulus.co.uk</a></p>

<div><a class="top" href="#top">Top</a></div>



{% endblock %}
