<!--
	Offer_list = [	
		['Cardtitle', 'Card Title'],
		['Sparebusiness1' , 'Your photo. (Must begin with http:// or https:// and end with .png, jpg or jpeg)'],
		['Sparebusiness2' , 'Image for background. (Must begin with http:// or https:// and end with .png, jpg or jpeg)'],
		['Make' , 'Item make'],
		['Type' , 'Item model'],
		['Offers' , 'Offer'],
		['Text_message' , 'Description'],
		['Web_url' , 'Buy now button'],
		['scan_counter' , "Scan counter" ],
		['LabelID' , 'Label for MiniWeb button'],
		#['LabelID' , 'Label to print with code'],
		#['Spareoffer1' , '(None - spare field)'],
		#['Spareoffer2' , '(None - spare field)']
		]


-->


{% block head_tags_extra %}<meta name="description" content="Q-Action: Offer card." />
 {% if display_field_in_form.Sparebusiness2 != ""  %}
<style type="text/css">
   body {
	background-image: url('{{Sparebusiness2}}');
	background-repeat:no-repeat;
}
 </style>
{% endif %}
{% endblock %}


{% if display_field_in_form.Sparebusiness1 != ""  %}
<div class ="container">
	<div class ="img_wrapper"> 
	<img class= "business_card_image" src="{{display_field_in_form.Sparebusiness1}}" title = "Offer card image " alt="Offer card image " />
	</div>
</div>
{% endif %}

<div class ="container">
{% if display_field_in_form.Make != "" %}
<div>
	<div class = "field_label">Make:</div>{{display_field_in_form.Make }}
</div>
{% endif %}


{% if display_field_in_form.Type != "" %}
<div>
	<div class = "field_label">Model:</div>{{display_field_in_form.Type }}
</div>
{% endif %}

{% if display_field_in_form.Offers != "" %}
<div>
	<div class = "field_label">Offer:</div>{{display_field_in_form.Offers }}
</div>
{% endif %}


{% if display_field_in_form.Text_message != "" %}
<div>
	<div class = "field_label">Description:</div>{% autoescape off %}{{display_field_in_form.Text_message }} {% endautoescape %}
</div>
{% endif %}


{% if display_field_in_form.Web_url != "" %}
	<div class="black-menu">
		<ul class = "nav">
		<li><a class ='link_button' href= "{{display_field_in_form.Web_url}}">Buy now</a></li>
		</ul>
	 </div>
{% endif %}


</div>

