
<div class = "field_label">Name:</div>
<div>
	{% if my_place.First_Name != "" or my_place.Middle_Name != "" or my_place.Last_Name != ""  %}
	<span class="fn n" lang="no">
	<span class="given-name">{{my_place.Persontitle}}</span>
	 <span class="given-name">{{my_place.First_Name}}</span> 
	 <span class="additional-name">{{my_place.Middle_Name}}</span>
	 <span class="family-name">{{my_place.Last_Name}}</span>
	</span>
	{% endif %}
</div>
{% if my_place.Organisation != "" %}
<div class="fn org">{{my_place.Organisation}}</div>
{% endif %}

{% if my_place.Email2 != "" %}
<div><div class = "field_label">Email:</div> <div class = 'value'>{{my_place.Email2}}</div>
{% endif %}

{% if my_place.Locationname != "" %}
<div><div class = "field_label">Location Name:</div> <div class = 'value'>{{ my_place.Locationname }}</div>
{% endif %}
{% if my_place.Latlong != "" %}
<div><div class = "field_label">Coordinates:</div> <div class = 'value'>{{ my_place.Latlong }}</div>
{% endif %}
{% if my_place.W_address_Post_Code != "" %}
<div><div class = "field_label">Post Code:</div> <div class = 'value'>{{ my_place.W_address_Post_Code }}</div>
{% endif %}
{% if my_place.Tel1 != "" %}
<div><div class = "field_label">Emergency Contact:</div> <div class = 'value'>{{ my_place.Tel1 }}</div>
{% endif %}
{% if my_place.Tel2 != "" %}
<div><div class = "field_label">Backup Contact:</div> <div class = 'value'>{{ my_place.Tel2 }}</div>
{% endif %}
{% if my_place.Text_message != "" %}
<div><div class = "field_label">Advice:</div> <div class = 'value'>{% autoescape off %} {{my_place.Text_message}} {% endautoescape %}</div>
{% endif %}

{% if my_place.Web_url != "" %}
<div><div class = "field_label">URL:</div> <div class = 'value'> {{my_place.Web_url}}</div>
<a class ='link_button' href= "{{my_place.Web_url}}"> {{  page_title_lookup }}</a>
{% endif %}





