{% block head_tags_extra %}<meta name="description" content="Q-Action: Mini websites for everyone." />
 {% if display_field_in_form.Sparebusiness2 != ""  %}
<style type="text/css">
   body  {
	background-image: url('{{Sparebusiness2}}');
	background-repeat:no-repeat;
}
 </style>
{% endif %}

{% endblock %}


<div class="black-menu">
	<ul class = "nav">
{% for  value in edit_field_in_form  %}
{% if value.2 != "" and value.2 != Key_Name and value.5 != "" %}
	{% if value.4 == "mini_web" and value.2 != "None" %}
	<li><a href="{{ value.2 }}?back_button={{Key_Name}}{{no_scan_string}}">{{value.5}}</a></li>
	{% endif %}
{% endif %}
{% endfor %}
	</ul>
 </div>

{% if display_field_in_form.Text_message != "" %}
<div class ="Text_message">
	{% autoescape off %} {{display_field_in_form.Text_message}} {% endautoescape %}
</div>
{% endif %}
