{% block head_tags_extra %}<meta name="description" content="Q-Action: On-line business cards for everyone." />
 {% if display_field_in_form.Sparebusiness2 != ""  %}
<style type="text/css">
   body {
	background-image: url('{{Sparebusiness2}}');
	background-repeat:no-repeat;
}
 </style>
{% endif %}
{% endblock %}


{% if display_field_in_form.Sparebusiness1 != ""  %}
<div class ="container">
<div class ="img_wrapper"> 
<img class= "business_card_image" src="{{display_field_in_form.Sparebusiness1}}" title = "{{display_field_in_form.Persontitle}} {{display_field_in_form.First_Name}} {{display_field_in_form.Middle_Name}} {{display_field_in_form.Last_Name}} " alt="{{display_field_in_form.Sparebusiness1}}" title = "{{display_field_in_form.Persontitle}} {{display_field_in_form.First_Name}} {{display_field_in_form.Middle_Name}} {{display_field_in_form.Last_Name}} " />
</div></div>
{% endif %}
<div class ="container">
<div id="address" class="vcard">
{% if display_field_in_form.First_Name != "" or display_field_in_form.Middle_Name != "" or display_field_in_form.Last_Name != ""  %}
<span class="fn n" lang="no">
 <span class="title-name">{{display_field_in_form.Persontitle}}</span> 
 <span class="given-name">{{display_field_in_form.First_Name}}</span> 
 <span class="additional-name">{{display_field_in_form.Middle_Name}}</span>
 <span class="family-name">{{display_field_in_form.Last_Name}}</span>
</span>
{% endif %}

{% if display_field_in_form.Qualifications != "" %}
<span class="fn n">{{display_field_in_form.Qualifications}}</span>
{% endif %}

{% if display_field_in_form.Type != "" %}
<div class="fn n">{{display_field_in_form.Type}}</div>
{% endif %}

{% if display_field_in_form.Organisation != "" %}
<div class="fn org">{{display_field_in_form.Organisation}}</div>
{% endif %}


{% if display_field_in_form.W_address_line_1 != "" or display_field_in_form.W_address_Post_Town != "" or display_field_in_form.W_address_County != "" or display_field_in_form.W_address_Post_Code != "" or display_field_in_form.W_address_Country != "" %}
<div class="adr">
	{% if display_field_in_form.W_address_line_1 != "" or display_field_in_form.W_address_line_2 != "" %}
		<div class="street-address">{{display_field_in_form.W_address_line_1}} 	
		{% if display_field_in_form.W_address_line_2 != "" %}<br />{{display_field_in_form.W_address_line_2}}{% endif %}
		</div>
	{% endif %}
	{% if display_field_in_form.W_address_Post_Town != "" %}
	<span class="locality">{{display_field_in_form.W_address_Post_Town}}</span><br />
	{% endif %}
	{% if display_field_in_form.W_address_County != "" %}
	<span class="region">{{display_field_in_form.W_address_County}}</span> <br />
	{% endif %}
	{% if display_field_in_form.W_address_Post_Code != "" %}
	<span class="postal-code">{{display_field_in_form.W_address_Post_Code}}</span><br />
	{% endif %}
	{% if display_field_in_form.W_address_Country != "" %}
	<span class="country-name">{{display_field_in_form.W_address_Country}}</span> <br />
	{% endif %}
</div>
{% endif %}

{% if display_field_in_form.Tel1 != "" %}
<br /><div class="tel">
 	<span class="type">Work</span>:
 	<span class="value">{{display_field_in_form.Tel1}}</span>
</div>
{% endif %}
{% if display_field_in_form.Tel2 != "" %}

<div class="tel">
 	<span class="type">Mobile</span>:
 	<span class="value">{{display_field_in_form.Tel2}}</span>
</div>
{% endif %}

{% if display_field_in_form.Tel3 != "" %}
<div class="tel">
 	<span class="type">Home</span>:
 	<span class="value">{{display_field_in_form.Tel3 }}</span>
</div>
{% endif %}

{% if display_field_in_form.Email_address != "" %}
<br /><div>Work email: {{display_field_in_form.Email_address }}</div>
{% endif %}

{% if display_field_in_form.Email2 != "" %}
<div>Home email: {{display_field_in_form.Email2 }}</div>
{% endif %}


{% if display_field_in_form.Web_url != "" %}
<div>Website: {{display_field_in_form.Web_url}} </div>
{% endif %}


{% if display_field_in_form.URL2 != "" %}
<div>Alternative web site: {{display_field_in_form.URL2}} </div>
{% endif %}

{% if display_field_in_form.URLsocialnets != "" %}
<div>Other: {{display_field_in_form.URLsocialnets }} </div>
{% endif %}


<br />

{% if display_field_in_form.Text_message != "" %}
<div class ="Text_message">
	{% autoescape off %} {{display_field_in_form.Text_message}} {% endautoescape %}
</div>
{% endif %}

{% if display_field_in_form.Email_address != "" %}

{% if display_field_in_form.Web_url != "" %}
<div><a class ='link_button' href= "{{display_field_in_form.Web_url}}">Website</a> </div>
{% endif %}



<div><a class ='link_button' href= "mailto:{{display_field_in_form.Email_address }}">Work Email </a></div>
{% endif %}

{% if display_field_in_form.Email2 != "" %}
<div><a class ='link_button' href= "mailto:{{display_field_in_form.Email2 }}">Home Email </a> </div>
{% endif %}
</div>

