
{% if my_place.Locationname != "" %}
<div><div class = "field_label">Location:</div><div class = 'value'>{{my_place.Locationname}}</div></div>
{% endif %}

{% if my_place.Text_message != "" %}
<div><div class = "field_label">Description:</div>
<div class = 'value'>{% autoescape off %} {{my_place.Text_message}} {% endautoescape %}</div></div>
{% endif %}

{% if my_place.Text_message != "" %}
<div><div class = "field_label">Description:</div>
<div class = 'value'>{% autoescape off %} {{my_place.Text_message}} {% endautoescape %}</div></div>
{% endif %}
{{  page_title_lookup }}
{% if my_place.Web_url != "" %}
<div><div class = "field_label">Further Information:</div>
<br /><div class = 'value'><a class ='link_button' href= "{{my_place.Web_url}}"> {{  page_title_lookup }}</a></div>
{% endif %}




