{% extends "base.html" %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block logon %}{% endblock %}


{% block main-menu %}
<div class="main-menu">
	<ul class = "nav">
	<li><a href="/">Home</a></li>
	</ul>
 </div>
{% endblock %}

{% block page_heading %}<h1>Subscribe</h1>{% endblock %}

{% block content %}

{% if login_check == "True"  %}	
<p>You have {{ days_to_end_of_subscription }} days to the end of your current subscription. If you chose to upgrade now your enhancements will be added to your current subscription period. 
</p>
{% endif %}
{% if login_check == "False"  %}	
<p>You must be logged-in to purchase or upgrade a subscription.</p>
{% endif %}
<h3>Free Account</h3>

<ul>
<li>12 months service (free renewal)</li>
<li>2 pages</li>
<li>100 hits per day per page</li>
</ul>

{% if login_check == "True"  %}	
	<div class="black-menu">
		<ul class = "nav">
		<li><a href="/subscribe/buy_subscription.html?key_value={{check_key_free}}"> Get 1 year Free</a></li>
		</ul>
	 </div>
{% endif %}

<h3>Basic Account</h3>

<ul>
<li>12 months service</li>
<li>100 pages</li>
<li>500 hits per day per page</li>
</ul>
<p>&pound;25 per year</p>


{% if login_check == "True"  %}	


	
<form action="https://checkout.google.com/api/checkout/v2/checkoutForm/Merchant/445449504983600" id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm" target="_top">
    <input name="item_name_1" type="hidden" value="Annual Subscription"/>
    <input name="item_description_1" type="hidden" value="Annual subscription for Q-Action account with 100 pages"/>
    <input name="item_quantity_1" type="hidden" value="1"/>
    <input name="item_price_1" type="hidden" value="25.0"/>
    <input name="item_currency_1" type="hidden" value="GBP"/>
    <input name="shopping-cart.items.item-1.digital-content.description" type="hidden" value="Your account will be updated as soon as you visit the custom page provided."/>
    <input name="shopping-cart.items.item-1.digital-content.url" type="hidden" value="https://q-action.appspot.com/subscribe/buy_subscription.html?key_value={{check_key_annual}}"/>
    <input name="_charset_" type="hidden" value="utf-8"/>
    <input alt="" src="https://checkout.google.com/buttons/buy.gif?merchant_id=445449504983600&amp;w=117&amp;h=48&amp;style=white&amp;variant=text&amp;loc=en_US" type="image"/>
</form>

{% endif %}
{% if login_check == "False"  %}	
<p><strong>You must create an account and be logged in to buy a subscription. </strong></p>
{% endif %}


<h3>Basic Account Plus</h3>

<ul>
<li>12 months service</li>
<li>1,000 pages</li>
<li>3,000 hits per day per page</li>
</ul>
<p>&pound;45 per year</p>

{% if login_check == "True"  %}	

<form action="https://checkout.google.com/api/checkout/v2/checkoutForm/Merchant/445449504983600" id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm" target="_top">
    <input name="item_name_1" type="hidden" value="Annual Subscription"/>
    <input name="item_description_1" type="hidden" value="Annual subscription for Q-Action Basic Plus account with 1000 pages"/>
    <input name="item_quantity_1" type="hidden" value="1"/>
    <input name="item_price_1" type="hidden" value="45.0"/>
    <input name="item_currency_1" type="hidden" value="GBP"/>
    <input name="shopping-cart.items.item-1.digital-content.description" type="hidden" value="Your account will be updated as soon as you visit the custom page provided."/>
    <input name="shopping-cart.items.item-1.digital-content.url" type="hidden" value="https://q-action.appspot.com/subscribe/buy_subscription.html?key_value={{check_key_basic_plus}}"/>
    <input name="_charset_" type="hidden" value="utf-8"/>
    <input alt="" src="https://checkout.google.com/buttons/buy.gif?merchant_id=445449504983600&amp;w=117&amp;h=48&amp;style=white&amp;variant=text&amp;loc=en_US" type="image"/>
</form>


{% endif %}
{% if login_check == "False"  %}	
<p><strong>You must create an account and be logged in to buy a subscription. </strong></p>
{% endif %}




<h3>Premium account</h3>

<ul>
<li>12 months service</li>
<li>10,000 pages</li>
<li>Unlimited page traffic*</li>
</ul>
<p>&pound;150 per year</p>


{% if login_check == "True"  %}	



<form action="https://checkout.google.com/api/checkout/v2/checkoutForm/Merchant/445449504983600" id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm" target="_top">
    <input name="item_name_1" type="hidden" value="Annual Subscription"/>
    <input name="item_description_1" type="hidden" value="Annual subscription for Q-Action Basic Plus account with 1000 pages"/>
    <input name="item_quantity_1" type="hidden" value="1"/>
    <input name="item_price_1" type="hidden" value="150.0"/>
    <input name="item_currency_1" type="hidden" value="GBP"/>
    <input name="shopping-cart.items.item-1.digital-content.description" type="hidden" value="Your account will be updated as soon as you visit the custom page provided."/>
    <input name="shopping-cart.items.item-1.digital-content.url" type="hidden" value="https://q-action.appspot.com/subscribe/buy_subscription.html?key_value={{check_key_premium}}"/>
    <input name="_charset_" type="hidden" value="utf-8"/>
    <input alt="" src="https://checkout.google.com/buttons/buy.gif?merchant_id=445449504983600&amp;w=117&amp;h=48&amp;style=white&amp;variant=text&amp;loc=en_US" type="image"/>
</form>


{% endif %}
{% if login_check == "False"  %}	
<p><strong>You must create an account and be logged in to buy a subscription. </strong></p>
{% endif %}

<h3>Custom Account</h3>

<p>Any or all of:</p>
<ul>
<li>Special functional pages</li>
<li>We mass populate pages to your specification</li>
<li>Unlimited number of pages</li>
<li>Peak traffic support*</li>
<li>Specified contract length</li>
<li>Service Level Agreement</li>
<li>Helpdesk</li>
</ul>
<p>&pound; on application</p>

<p>*Peak traffic is subject to reasonable use including notification of major campaigns.</p>

{% endblock %}
