{% extends "base.html" %}

{% block title %}{{ pageTitle }}{% endblock %}



{% block main-menu %}
<div class="main-menu">
	<ul class = "nav">
	<li><a href="/">Home</a></li>
	</ul>
 </div>
{% endblock %}

{% block page_heading %}<h1>What can it do?</h1>{% endblock %}
{% block content %}


<h2>What is Q-Action?</h2>

<p>Q-Action is a kind of electronic business card for the smart phone age and acts as your connection between your printed and on-line media.</p>

<p>Your Q-Action account gives you 10 unique QR-Codes.(Although you can buy as many as you need). When these codes are scanned by a smart-phone send the reader to the special web page associated with that page or onwards to another page of your choosing. You can update the content or action of the page at any time from your mobile phone or almost any other computer connected to the Internet.</p>

<h2>What is so special about Q-Action web pages?</h2>

<p>The pages are specially designed to work especially we with smart phones and the mobile web. Text is easy to read and menus work well with touch screens. Of course they still work just as well with your desktop or net-book (of any make or operating system), but we have avoided using too many images, animations and other common web page techniques that do not work well with the mobile web. The simplicity of Q-Action pages means they load very quickly and display your information with the minimum of delay.</p>

<h2>What can I do with Q-Action?</h2>

<p>Although the obvious use is as an electronic business card, the ease of updating information and then publishing it on a web page opens up many other possibilities. Because the web page is reached by scanning a code, it may also be attractive to users who do not usually use a desktop computer. Suggested uses include:</p>
<ul>
<li>Publish a business card</li>
<li>Updated opening times</li>
<li>Holiday contact details</li>
<li>Changed phone numbers</li>
<li>Rota lists</li>
<li>Event details on posters</li>
<li>Facebook, Twitter or Blog pages</li>
<li>E-bay or Amazon listing</li>
<li>Use a series of codes for games such as a treasure hunt.</li>


<p>A key feature is that you may change the message or destination page as often as you like. By re-using the same code you can make sure that anyone scanning your code sees your latest message, contact details or other on-line web page.</p>

<h2>Are my contact details secure?</h2>

<p>Your details are stored in a public page that has a web address that is almost impossible to guess. The only practical way to reach the page is by scanning the code associated with the page or following a web link. We suggest that you only publish information that you are happy to release publicly. However, given the construction of Q-Action, it very unlikely that malicious users will be able to “scrape” mass details from our site.</p>

<h2>Can users download my contact details to their address book?</h2>

<p>There is no universal format that works with all types of smart phone - yet. As we strive to make our software compatible with every type of device we have adopted the use micro-formats within our web pages. It seems likely that over the next few years that these will become universally accepted tools for transferring information electronically. Meanwhile we will include additional buttons on pages to facilitate downloads in various proprietary formats.</p>

<h2>Can I see how many people scan my Q-Action codes?</h2>

<p>Yes. We suggest that you use Google Analytics or Stat Counter. Enter your code into the field provided on the edit landing page form.
Can I use Q-Action for very large media campaigns?</p>

<p>Yes, if you arrange it with us in advance. We operate a “fair use” policy which covers both personal and business use. If you are planning to use Q-Action to support your mega event then please contact us in advance so we can arrange sufficient bandwidth. As Q-Action is a cloud based service allocating extra capacity is straightforward, although there may be an extra charge.  Any charge will be very competitive when compared to traditional hardware based services as virtual cloud servers can be allocated and removed as required.</p>


{% endblock %}
